<h1 class="mt-5">Agregar producto <small>{{texto1}}</small></h1>
<hr>

<form [formGroup]="miFormulario">
    <div class="row align-items-center mb-3">
    
        <div class="col-auto">
            <label class="form-label">Nombre:</label>
        </div>
    
        <div class="col-auto">
            <input formControlName="nombre"
                   class="form-control">
        </div>
        
        <div class="col" *ngIf="tieneError('nombre')">
            <span error-msg [mensaje]="texto1" [color]="color">
            </span>  
        </div>
        
    </div>
</form>



<button class="btn btn-primary mt-3 "
        (click)="cambiarNombre()">
    Guardar
</button>

&nbsp;
<button class="btn btn-primary mt-3"
        (click)="cambiarColor()">
    Cambiar color
</button>

<h3 class="mt-5">Formulario</h3>
<pre>Valid: {{ miFormulario.valid }}</pre>
<pre>Value: {{ miFormulario.value | json }}</pre>


