<h1 class="mt-5">Agregar producto</h1>
<hr>

<form [formGroup]="miFormulario">
    <div class="row align-items-center mb-3">
    
        <div class="col-auto">
            <label class="form-label">Nombre:</label>
        </div>
    
        <div class="col-auto">
            <input formControlName="nombre"
                   class="form-control">
        </div>
        
        <div class="col" *ngIf="tieneError('nombre')">
            <span error-msg
                  class="form-text">
                  Este campo es requerido.
            </span>  
        </div>
        
    </div>
</form>



<button class="btn btn-primary float-end mt-3">
    Guardar
</button>

<h3 class="mt-5">Formulario</h3>
<pre>Valid: {{ miFormulario.valid }}</pre>
<pre>Value: {{ miFormulario.value | json }}</pre>

